/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Thomson
VERSION:	1.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700|Work+Sans:400,700,800");

@font-face {font-family: "League Spartan";
  src: url("https://gamainovasi.com/assets/home/font/league-spartan/7cc8cbbd7a330c0d1e7c08c6d62711e4.eot"); /* IE9*/
  src: url("https://gamainovasi.com/assets/home/font/league-spartan/7cc8cbbd7a330c0d1e7c08c6d62711e4.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://gamainovasi.com/assets/home/font/league-spartan/7cc8cbbd7a330c0d1e7c08c6d62711e4.woff2") format("woff2"), /* chrome firefox */
  url("https://gamainovasi.com/assets/home/font/league-spartan/7cc8cbbd7a330c0d1e7c08c6d62711e4.woff") format("woff"), /* chrome firefox */
  url("https://gamainovasi.com/assets/home/font/league-spartan/7cc8cbbd7a330c0d1e7c08c6d62711e4.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://gamainovasi.com/assets/home/font/league-spartan/7cc8cbbd7a330c0d1e7c08c6d62711e4.svg#League Spartan") format("svg"); /* iOS 4.1- */
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.166667px;
  line-height: 1.7em;
  color: #818385;
}

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  cursor: default;
}

p {
  color: #818385;
  font-family: "Calibri";
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "League Spartan";
  color: #000;
  font-weight: 600;
}

h1, .h1 {
  font-size: 40px;
  text-transform: none;
}

h2, .h2 {
  font-size: 35px;
  line-height: 52px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 34px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 14px;
}

.text-sm {
  font-size: 14px;
}

.section {
  padding: 120px 0px;
}

.section-sm {
  padding: 60px 0px;
}

.btn {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  padding: 18px 38px;
  border: 2px solid;
  text-transform: uppercase;
  border-radius: 0px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  box-shadow: #999999 0px 0px 0px 0px;
}

.btn:focus {
  outline: 0px;
  border: 0px;
  box-shadow: none;
}

.btn-main {
  background: #0bdbb9;
  color:  #000;
}

.btn-main:hover {
  color: #fff!important;
  background:#0400ff;
}

.btn-black {
  background: #000;
  color: #fff;
}

.btn-black:hover {
  background: #0bdbb9;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.btn-white:hover {
  background: transparent;
  color: #fff;
}

a {
  color: #000;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

a:hover {
  color: #0bdbb9;
  text-decoration: none;
  outline: none;
}

.bg-primary {
  background: #0bdbb9 !important;
}

.bg-secondary {
  background: #f7f7f7 !important;
}

.bg-extra {
  background: #e8eefb !important;
}

.text-color {
  color: #0bdbb9;
}

.page-title h1 {
  position: relative;
  padding-bottom: 30px;
}

.page-title h1:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  width: 40px;
  height: 2px;
  margin-left: -25px;
  background: #0bdbb9;
}

@media (max-width: 575px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 400px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
}

.video-wrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.cd-headline.clip span {
  padding: 0px;
}

.banner .cd-headline {
  text-transform: uppercase;
  font-size: 56px;
  color: #fff;
  line-height: 70px;
}

.banner-2 .cd-headline {
  text-transform: uppercase;
  color: #fff;
}

.banner-3 {
  position: relative;
}

.main-nav .header-top-socials a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 20px 6px;
}

.navbar-expand-lg {
  position: absolute;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: flex-start;
}

.navbar-nav .nav-link {
  padding: 20px 15px !important;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  overflow: hidden;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  max-width: 100%;
  background-color: #000;
  z-index: 10;
}

ul.dropdown-menu {
  background: #151515;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

ul.dropdown-menu > li > a, .navbar ul ul ul.dropdown-menu li .nav-link {
  font-size: 12px;
  line-height: 22px;
  display: block;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #27243e;
  color: #fff;
  text-transform: uppercase;
}

ul.dropdown-menu > li > a:hover, .navbar ul ul ul.dropdown-menu li .nav-link:hover {
  color: #0bdbb9;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-menu {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  padding: 0;
  border: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  min-width: 210px;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: center top 0;
  -webkit-transform-origin: center top 0;
  -moz-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  -o-transform-origin: center top 0;
  transition: all .3s ease-in-out 0s;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

@media (max-width: 575px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

@media (max-width: 991px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .banner .cd-headline {
    font-size: 32px;
    line-height: 42px;
  }
  .btn-group, .btn-group-vertical {
    display: block;
  }
  .btn-group > .btn {
    padding: 20px;
  }
}

.portfolio {
  padding-top: 20px;
  padding-bottom: 100px;
}

.portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
  box-shadow: none !important;
  outline: 0 !important;
}

.portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}

.portfolio .btn-group .btn:hover {
  color: #0bdbb9;
}

.portfolio .btn-group:not(:first-child) > .btn, .portfolio .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.portfolio .btn.active {
  color: #0bdbb9;
}

.inner-box {
  position: relative;
}

.inner-box .image {
  position: relative;
  overflow: hidden;
}

.inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.inner-box .image .overlay-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  overflow: hidden;
}

.inner-box .image .overlay-box:before {
  position: absolute;
  content: '';
  left: -450px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: rgba(47, 50, 56, 0.8);
}

.inner-box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.inner-box:hover .image .overlay-box:before {
  opacity: 1;
  left: 0px;
}

.inner-box:hover .image .overlay-box {
  opacity: 1;
}

.inner-box:hover .image .overlay-box .overlay-content h5 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  color: #f7f7f7;
}

.inner-box:hover .image .overlay-box .overlay-content p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  color: #f7f7f7;
}

.inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  text-align: center;
  top: 20px;
  right: 0px;
  left: 0px;
  z-index: 1;
  padding: 10px 40px;
}

.inner-box .image .overlay-box .overlay-inner .overlay-content i {
  font-size: 28px;
}

.inner-box .image h3 {
  color: #fff;
}

.overlay-content h5 {
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  padding: 0px 8px;
  margin-bottom: 0px;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay-content p {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0px 8px;
  margin-top: 2px;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-image {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  background: #000;
  color: #fff;
  padding-top: 16px;
  position: absolute;
  top: 40%;
  font-size: 22px;
  margin-left: -28px;
  left: 50%;
}

.info a {
  margin-right: 10px;
}

.service-home {
  position: relative;
}

.service-item i {
  font-size: 45px;
  float: left;
  margin: 0% 5% 100% 5%;
}

.testimonial-content {
  text-align: center;
  padding: 25px;
  position: relative;
}

.testimonial-content i {
  font-size: 60px;
}

.testimonial-content p {
  margin-top: 30px;
  margin-bottom: 25px;
}

.about-info h3 {
  margin-top: 15px;
}

.progress-bar-content {
  margin-bottom: 25px;
}

.progress-bar-content .progress-title {
  text-transform: capitalize;
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.progress-bar-content .progress-label {
  margin-bottom: 15px;
}

.progress-bar-content .progress-bar {
  background: #000;
}

.progress-bar-content .progress-bar-units {
  color: #000;
}

.about-list {
  line-height: 40px;
}

.about-list li {
  text-transform: capitalize;
  color: #000;
}

.progress {
  width: 100%;
  overflow: visible;
  position: relative;
  margin: 0 0 35px 0;
  border-radius: 0px;
  height: 7px;
  background-color: #f7f8f9;
}

.progress-bar {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  background: #e1a34c;
  border-radius: 0px;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

@media (max-width: 575px) {
  .cta {
    padding-bottom: 0px;
  }
}

@media (max-width: 400px) {
  .cta {
    padding-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .cta {
    padding-bottom: 0px;
  }
}

#map {
  height: 300px;
  margin: 75px 0px;
}

.form-control {
  border-radius: 0px;
  height: 45px;
  border-color: #e8eefb;
}

.form-control:focus {
  box-shadow: none;
  border-color: #0bdbb9;
}

textarea.form-control {
  height: auto;
}

.text-black {
  color: #000;
}

.contact-title h2 {
  position: relative;
  padding-bottom: 30px;
}

.contact-title h2:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  width: 40px;
  height: 2px;
  margin-left: -25px;
  background: #0bdbb9;
}

.letter-spacing {
  letter-spacing: 1px;
}

.post .image-content {
  position: relative;
}

.post .image-content img {
  width: 100%;
}

.post .author img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.post .post-content {
  margin-top: 10px;
}

.post .post-content h4 {
  margin-top: 10px;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.post .post-content a:hover h4 {
  color: #0bdbb9;
}

.pagination {
  margin-top: 70px;
}

.pagination li a {
  background: #f6f6f6;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 9px 18px;
  color: #666666;
  -webkit-transition: .3s;
  transition: .3s;
}

.pagination li a:hover {
  background: #0bdbb9;
  color: #fff;
}

.pagination li.active a {
  background: #0bdbb9;
  color: #fff;
}

.sidebar-widget .widget {
  padding-left: 20px;
}

.sidebar-widget .widget-title {
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
}

.sidebar-widget .widget-title:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 2px;
  background: #000;
}

.sidebar-widget .follow a {
  margin-right: 10px;
}

.sidebar-widget .tags a {
  text-transform: capitalize;
  font-size: 15px;
  padding: 2px 13px;
  display: inline-block;
  margin-bottom: 8px;
  background: #dedede;
}

.sidebar-widget .category ul {
  line-height: 40px;
}

.sidebar-widget .category ul li {
  font-size: 15px;
  text-transform: capitalize;
}

.post-body span {
  font-size: 13px;
  letter-spacing: 1px;
}

.single-post {
  margin-bottom: 70px;
}

.share ul li a {
  margin-right: 20px;
}

.mb-45 {
  margin-bottom: 45px;
}

.comments-text p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 26px;
}

@media (max-width: 575px) {
  .media {
    display: block;
  }
  .media img {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .media {
    display: block;
  }
  .media img {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .media {
    display: block;
  }
  .media img {
    margin-bottom: 10px;
  }
}

.footer {
  padding: 30px 0px;
  background: #272727;
}

.footer-widget a {
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}

.footer-widget a:hover {
  color: #0bdbb9;
}

.carousel-item {
  height: 65vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index:10;
  text-align: center;
  width: 100%;
  height: 100%;
}

.display-4
{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
}

/*# sourceMappingURL=maps/style.css.map */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
